<div style="display: flex; height: 100vh; flex-direction: column;">

  <div style="background-color: #003366; color: white; padding: 5px; height: 30px;">
    <h2 align="center">OCEANIDS Platform</h2>
  </div>

  <mat-drawer-container style="height: 100%;">
    <mat-drawer style="height: fit-content; width: 50vw; margin: 20px;" #chartDrawer position="end" mode="over">
      <button mat-icon-button (click)="closeChartDrawer()" style="position: absolute; top: 10px; right: 10px;">
        <mat-icon>close</mat-icon>
      </button>
      <div style="display: flex; flex-direction: column;height: fit-content;">
        <app-line-chart *ngIf="timeseries" [multi]="[timeseries]" [dataServiceName]="titleTimeseries"
          [description]="selectedServiceDescription" (downloadCsvButtonClicked)="downloadTimeseriesCsv()"
          (downloadJpgButtonClicked)="downloadTimeseriesJpg()" [selectedFilters]="selectedFilters"
          [activeTabs]="activeTabs" (filterChange)="onFilterChange($event)" [chartImage]="chartImage"></app-line-chart>
      </div>
    </mat-drawer>

    <mat-drawer-content style="display: flex; flex-direction: column;">
      <div class="map-frame" style="flex: 1; position: relative;">
        <div class="map" id="map" style="height: 100%; display: flex; gap: 20px; flex-wrap: wrap;">
          <div class="panel-container" style="margin: 20px;">
            <form [formGroup]="cityForm">
              <mat-accordion (dblclick)="$event.stopPropagation()">
                <mat-expansion-panel #citiesPanel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      {{cityForm.get('city')?.value ? cityForm.get('city')?.value : 'Cities'}}
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <mat-panel-description>
                    <mat-form-field>
                      <mat-label>Select City</mat-label>
                      <mat-select formControlName="city">
                        <mat-option *ngFor="let city of cityNames" [value]="city">
                          {{ city }}
                        </mat-option>

                      </mat-select>
                    </mat-form-field>
                  </mat-panel-description>
                </mat-expansion-panel>
                <mat-expansion-panel #dataServicesPanel [disabled]="!cityForm.get('city')?.value">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Data services
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div formArrayName="service">
                    <div *ngFor="let serviceGroup of serviceFormArray.controls; let i = index" [formGroupName]="i"
                      style="display: flex;">
                      <mat-checkbox [formControlName]="'selected'"
                        (change)="onCheckboxChange($event, cityDataServices[i])">
                      </mat-checkbox>
                      <span class="checkbox-label">
                        {{ serviceGroup.get('name')?.value | capitalAndSpace }}
                        <span class="info-icon">
                          <mat-icon (click)="showInfo(cityDataServices[i])">info</mat-icon>
                        </span>
                      </span>

                    </div>
                  </div>
                </mat-expansion-panel>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Decision Support
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <p>another panel.</p>
                </mat-expansion-panel>
              </mat-accordion>
            </form>
          </div>


        </div>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>